In [ ]:
pip install requests

# Đọc danh sách các phim đã được truy vấn từ 1 bộ chưa chiếu cụ thể

ví dụ ở đây thì là của bộ Five night at freddy

In [67]:
"tt0116508"
"tt0122946"
"tt10039344"
"tt1072754"
"tt18083578"
"tt7164084"
"tt8009314"
"tt8426594"
"tt8745960"
"tt0111127"
"tt0183808"
"tt0758757"
"tt1701990"
"tt2651916"
"tt27403906"
"tt4929720"
"tt7074750"
"tt0104787"
"tt0245674"
"tt21651560"
"tt3859272"
imdb_list = [
    "tt0116508", "tt0122946", "tt10039344", "tt1072754", "tt18083578",
    "tt7164084", "tt8009314", "tt8426594", "tt8745960", "tt0111127",
    "tt0183808", "tt0758757", "tt1701990", "tt2651916", "tt27403906",
    "tt4929720", "tt7074750", "tt0104787", "tt0245674", "tt21651560",
    "tt3859272"
]
len(imdb_list)

21

# từ danh sách imdb_id trên sẽ đi truy ngược lấy id trên web the moviedb

lấy ví dụ 1 truy vấn từ 1 imdb_id đầu tiên:

In [68]:
import requests
url = "https://api.themoviedb.org/3/find/tt7164084?api_key=781d8b0f33163181d96d61fa21ea16a4&external_source=imdb_id"
headers = {"accept": "application/json"}
response = requests.get(url, headers=headers)
#print(response.text)

Lấy tất cả tmdb_id từ list imdb_id

In [69]:
import json
import requests
import pandas as pd
#id_list = df["id"].tolist()
imdb_list
base_url = "https://api.themoviedb.org/3/find/"

headers = {
    "accept": "application/json",
    #"Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjN2ZmNDQyZWY5MWQyMGQ1MmJjMDhhOTgzMWFkOGVlZiIsInN1YiI6IjY1MjE2ZjRlYzFmZmJkMDExYjQzNTJlOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.G4CsJ9HQFeIKiIKirMnBbgjnFxo71z-36lqU2hLaUG8"
}
with open("output_IMDB_id.json", "w") as file:
    pass
data_list = []
for movie_id in imdb_list:
    url = f"{base_url}{movie_id}?api_key=781d8b0f33163181d96d61fa21ea16a4&external_source=imdb_id"
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
    # Chuyển đổi nội dung JSON thành đối tượng Python
        json_data = json.loads(response.text)
    data_list.append(json_data)
result_dict = {
    "results": data_list
}
# Mở tệp tin để ghi dữ liệu
with open("output_TMDB_id.json", "w") as file:
    json.dump(result_dict, file, indent=4)

In [70]:
with open("output_TMDB_id.json", "r") as file:
    json_dict = json.load(file)
    
movie_results_list = [result['movie_results'] for result in json_dict['results']]
# Gộp tất cả các kết quả của "movie_results" thành một danh sách duy nhất
merged_movie_results = [movie for sublist in movie_results_list for movie in sublist]
# Tạo DataFrame từ danh sách các kết quả "movie_results"
movie_results_df = pd.DataFrame(merged_movie_results)

# Hiển thị DataFrame mới tạo
movie_results_df

,adult,backdrop_path,id,title,original_language,original_title,overview,poster_path,media_type,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/xUPcTaq3dKOK3tInplsX7qQ0Uzb.jpg,36915,Heaven's Prisoners,en,Heaven's Prisoners,"A hardened New Orleans cop, Dave Robicheaux, f...",/yUWVNHA3dVc1CmxNIcXZWqbqWc8.jpg,movie,"[18, 9648, 53]",11.246,1996-05-17,False,5.181,69
1,False,/coPfnkYBodJ5rsunfjWapz8KuZq.jpg,30492,Animal Room,en,Animal Room,"Cynical and intelligent Arnold Mosk, a known d...",/5EnqCP4BcD6l1yrE3rjWxYkqyOT.jpg,movie,[18],2.287,1995-01-01,False,7.000,7
2,False,/zETkzgle7c6wAeW11snnVUBp67S.jpg,599975,Countdown,en,Countdown,A young nurse downloads an app that tells her ...,/5TQ0kM41vWFWFAPbZGitOxDysZU.jpg,movie,"[27, 53]",19.452,2019-10-24,False,6.278,1950
3,False,/uTX4CPryKPVzrI42unG1VrI002o.jpg,79073,Messages Deleted,en,Messages Deleted,"A quivering voice begs to screenwriter, Joel B...",/5khvKgALf9czLPCEZU6hZWr68UT.jpg,movie,"[27, 53, 9648]",5.692,2010-02-05,False,5.595,42
4,False,/jP3FatCTHc460ZGW57q9ypTdBqu.jpg,937249,57 Seconds,en,57 Seconds,When a tech blogger lands an interview with a ...,/dfS5qHWFuXyZQnwYREwb7N4qU5p.jpg,movie,"[53, 878, 28]",157.141,2023-09-29,False,5.820,211
5,False,/5j5UiJoVhoGS2JEdm53srUOlelc.jpg,579789,Unintended,en,Unintended,"Lea, an adventurous and free-spirited thirteen...",/8tN1571JecAyUGdzoxvdYSHmsdf.jpg,movie,[18],1.889,2019-11-07,False,4.500,6
6,False,/3C14xx4RteMksSUwgYfI52B8Iu6.jpg,508138,Burn,en,Burn,"Lonely, unstable gas station attendant Melinda...",/ifSMo5x7SDXpettRt8TWY9EOquM.jpg,movie,"[53, 80, 28]",24.175,2019-08-23,False,6.062,250
7,False,/9NoBsVuZA1O51xsUkTTHZgqGBs0.jpg,541560,The Wind,en,The Wind,"Lizzy is a tough, resourceful frontierswoman s...",/kcfPHZHSQODLCWdkUVLYATNyEVo.jpg,movie,"[37, 27, 53]",12.101,2019-06-06,False,5.714,222
8,False,/w4SXVDLmsqZ1gjLC5sgQCZUvuoC.jpg,537788,Daniel Isn't Real,en,Daniel Isn't Real,"A troubled college freshman, Luke, suffers a v...",/zFYYFEhKS6JZvNW7gXeKeqnbcS7.jpg,movie,"[27, 9648]",11.163,2019-12-06,False,6.087,172
9,False,/nqdwkjcIN3AFvV1ITbCHKQ4GRBT.jpg,11592,Serial Mom,en,Serial Mom,She's the perfect all-American parent: a great...,/lWLLBMvMDafBXH5CRkahOtCORc8.jpg,movie,"[35, 80]",22.391,1994-04-13,False,6.748,607
10,False,None,141319,Spanish Judges,en,Spanish Judges,A con-artist hires two low-lifes to cover him ...,/nuODOVq5nPUwx1Z0T03T6B39Ps6.jpg,movie,"[80, 18]",3.357,2000-10-16,False,5.571,7
11,False,None,54729,The Insurgents,en,The Insurgents,"Set in a post-9/11 America, four Americans com...",None,movie,"[18, 53]",0.943,2007-11-09,False,5.200,3
12,False,/dIejmkCP46vN5a17u44phOGyAVR.jpg,68684,Detention,en,Detention,As a killer named Cinderhella stalks the stude...,/wLuMoe16Z27DH96B2vg4FQNiAjj.jpg,movie,"[27, 35, 878]",19.276,2012-04-06,False,5.614,343
13,False,None,229702,Zephyr Springs,en,Zephyr Springs,"When Dawn, an overworked single mother, agrees...",/6I4h9A9wKscN86LKmSyZ8iil4HE.jpg,movie,[53],3.579,2013-06-01,False,3.700,12
14,False,/8Fm7orQofGDS7mA5EikK3A4dQbI.jpg,1110586,Weathering,en,Weathering,After losing her baby and nearly her life duri...,/kGLE9Mq5Ml9CCVaAfcZ4nrqTRWK.jpg,movie,[53],10.483,2023-04-07,False,4.960,25
15,False,/v0jz0Lln6G7HyKnBL4qvmIki3Yr.jpg,360007,Patchwork,en,Patchwork,"A delightfully dark, Frankenstein-themed horro...",/rrTLOdqGPDy5OS2J2aa4G4luQ2L.jpg,movie,"[27, 35]",6.998,2015-10-15,False,5.629,65
16,False,/orBmK3c1AylG9kjAgHpV9LpOQZF.jpg,151062,Mad at the Moon,en,Mad at the Moon,A young woman on the frontier marries a meek f...,/iDwgbHw48sst8Ix5BOfXXjvIlWq.jpg,movie,"[27, 10749, 37]",3.206,1992-09-16,False,4.250,8
17,False,/okXFpyNquUVMvKRoaWjQOouvacl.jpg,9378,Thir13en Ghosts,en,Thir13en Ghosts,"Arthur and his two children, Kathy and Bobby, ...",/6yrrddjIjx0ElCRZp5pTZeqrj3k.jpg,movie,"[27, 53]",30.798,2001-10-26,False,6.213,1931
18,False,/o8tThg5KqX3t32vbAIxNuS8Fmlj.jpg,1005776,V/H/S/99,en,V/H/S/99,"Witness a hellish vision of 1999, as social is...",/1bOMmFtnykBmvhFcx8zdXO6bCAa.jpg,movie,[27],19.034,2022-09-15,False,6.100,204
19,False,/pHdCS3FerQhAklu2JDEgpIuv5fP.jpg,413857,Tragedy Girls,en,Tragedy Girls,"McKayla and Sadie, two death-obsessed teenage ...",/3UgRc3vpOiW9HOAD7oBa16xQ21E.jpg,movie,"[27, 35]",17.330,2017-10-20,False,6.014,279

# Lấy 2 feature của phim cũ là ID để truy ngược lại 'budget' và 'revenue', lấy thêm feature 'Popularity' để đẩy vào model

In [71]:
new_df = movie_results_df[['id', 'popularity']]
#new_df.columns = ['New_A', 'B']
new_df

         id  popularity
0     36915      11.246
1     30492       2.287
2    599975      19.452
3     79073       5.692
4    937249     157.141
5    579789       1.889
6    508138      24.175
7    541560      12.101
8    537788      11.163
9     11592      22.391
10   141319       3.357
11    54729       0.943
12    68684      19.276
13   229702       3.579
14  1110586      10.483
15   360007       6.998
16   151062       3.206
17     9378      30.798
18  1005776      19.034
19   413857      17.330

## Từ list này mình làm y như cái cách lấy thông tin imdb_id để tìm 'budget' và 'revenue' thay vì tim 'imdb_id'

In [72]:
import requests
id_list = new_df["id"].tolist()
id_list
base_url = "https://api.themoviedb.org/3/movie/"
language = "us-US"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjN2ZmNDQyZWY5MWQyMGQ1MmJjMDhhOTgzMWFkOGVlZiIsInN1YiI6IjY1MjE2ZjRlYzFmZmJkMDExYjQzNTJlOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.G4CsJ9HQFeIKiIKirMnBbgjnFxo71z-36lqU2hLaUG8"
}
with open("budget_revenue_TMDB_id.json", "w") as file:
    pass
data_list = []
for movie_id in id_list:
    url = f"{base_url}{movie_id}?language={language}"
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
    # Chuyển đổi nội dung JSON thành đối tượng Python
        json_data = json.loads(response.text)
    data_list.append(json_data)
result_dict = {
    "results": data_list
}
# Mở tệp tin để ghi dữ liệu
with open("budget_revenue_TMDB_id.json", "w") as file:
    json.dump(result_dict, file, indent=4)

## Đọc file json vừa tạo

In [73]:
with open("budget_revenue_TMDB_id.json", "r") as file:
    json_dict = json.load(file)
    formatted_json = json.dumps(json_dict, indent=4)
    #print(formatted_json)

In [74]:
df_budget = pd.DataFrame(json_dict["results"])
df_budget

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/xUPcTaq3dKOK3tInplsX7qQ0Uzb.jpg,None,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",,36915,tt0116508,en,Heaven's Prisoners,...,1996-05-17,5009305,132,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,For an ex-cop obsessed with an unsolved murder...,Heaven's Prisoners,False,5.181,69
1,False,/coPfnkYBodJ5rsunfjWapz8KuZq.jpg,None,0,"[{'id': 18, 'name': 'Drama'}]",,30492,tt0122946,en,Animal Room,...,1995-01-01,0,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Animal Room,False,7.000,7
2,False,/zETkzgle7c6wAeW11snnVUBp67S.jpg,None,6500000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,599975,tt10039344,en,Countdown,...,2019-10-24,48021766,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Death? There's an app for that.,Countdown,False,6.278,1950
3,False,/uTX4CPryKPVzrI42unG1VrI002o.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,79073,tt1072754,en,Messages Deleted,...,2010-02-05,0,92,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Messages Deleted,False,5.595,42
4,False,/jP3FatCTHc460ZGW57q9ypTdBqu.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",,937249,tt18083578,en,57 Seconds,...,2023-09-29,0,99,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Rewind the past. Avenge the future.,57 Seconds,False,5.820,211
5,False,/5j5UiJoVhoGS2JEdm53srUOlelc.jpg,None,0,"[{'id': 18, 'name': 'Drama'}]",https://unintendedfilm.com/,579789,tt7164084,en,Unintended,...,2019-11-07,0,92,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Buried memories return to haunt her.,Unintended,False,4.500,6
6,False,/3C14xx4RteMksSUwgYfI52B8Iu6.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",,508138,tt8009314,en,Burn,...,2019-08-23,25373,89,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hell of a night,Burn,False,6.062,250
7,False,/9NoBsVuZA1O51xsUkTTHZgqGBs0.jpg,None,0,"[{'id': 37, 'name': 'Western'}, {'id': 27, 'na...",,541560,tt8426594,en,The Wind,...,2019-06-06,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It never stops.,The Wind,False,5.714,222
8,False,/w4SXVDLmsqZ1gjLC5sgQCZUvuoC.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",,537788,tt8745960,en,Daniel Isn't Real,...,2019-12-06,0,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,But he's coming out to play,Daniel Isn't Real,False,6.087,172
9,False,/nqdwkjcIN3AFvV1ITbCHKQ4GRBT.jpg,None,13000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",,11592,tt0111127,en,Serial Mom,...,1994-04-13,7820688,94,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Every mom wants to be wanted, but not for murder!",Serial Mom,False,6.748,607
10,False,None,None,3500000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",,141319,tt0183808,en,Spanish Judges,...,2000-10-16,0,98,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Its all about the con,Spanish Judges,False,5.571,7
11,False,None,None,200000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",,54729,tt0758757,en,The Insurgents,...,2007-11-09,0,82,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,The Insurgents,False,5.200,3
12,False,/dIejmkCP46vN5a17u44phOGyAVR.jpg,None,10000000,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",http://detentionmovie.com/,68684,tt1701990,en,Detention,...,2012-04-06,0,93,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Cancel Your Future,Detention,False,5.614,343
13,False,None,None,0,"[{'id': 53, 'name': 'Thriller'}]",http://www.mylifetime.com/movies/deadly-spa,229702,tt2651916,en,Zephyr Springs,...,2013-06-01,0,88,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Zephyr Springs,False,3.700,12
14,False,/8Fm7orQofGDS7mA5EikK3A4dQbI.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}]",https://www.netflix.com/title/81553211,1110586,tt27403906,en,Weathering,...,2023-04-07,0,20,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Weathering,False,4.960,25
15,False,/v0jz0Lln6G7HyKnBL4qvmIki3Yr.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",,360007,tt4929720,en,Patchwork,...,2015-10-15,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some Assembly Required,Patchwork,False,5.629,65
16,False,/orBmK3c1AylG9kjAgHpV9LpOQZF.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 10749, '...",,151062,tt0104787,en,Mad at the Moon,...,1992-09-16,0,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When the moon rises, the howling begins.",Mad at the Moon,False,4.250,8
17,False,/okXFpyNquUVMvKRoaWjQOouvacl.jpg,None,42000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,9378,tt0245674,en,Thir13en Ghosts,...,2001-10-26,68467960,91,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Misery loves company.,Thir13en Ghosts,False,6.213,1931
18,False,/o8tThg5KqX3t32vbAIxNuS8Fmlj.jpg,"{'id': 207621, 'name': 'V/H/S Collection', 'po...",0,"[{'id': 27, 'name': 'Horror'}]",,1005776,tt21651560,en,V/H/S/99,...,2022-09-15,0,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,VHS goes to hell.,V/H/S/99,False,6.100,204
19,False,/pHdCS3FerQhAklu2JDEgpIuv5fP.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",https://www.tragedygirlsmovie.com/,413857,tt3859272,en,Tragedy Girls,...,2017-10-20,0,98,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Friends who slay together, stay together",Tragedy Girls,False,6.014,279

## lấy mấy cái feature quan trọng:

In [75]:
df_budget_quan_trong = df_budget[['imdb_id', 'budget', 'revenue']]
df_budget_quan_trong

       imdb_id    budget   revenue
0    tt0116508  25000000   5009305
1    tt0122946         0         0
2   tt10039344   6500000  48021766
3    tt1072754         0         0
4   tt18083578         0         0
5    tt7164084         0         0
6    tt8009314         0     25373
7    tt8426594         0         0
8    tt8745960         0         0
9    tt0111127  13000000   7820688
10   tt0183808   3500000         0
11   tt0758757    200000         0
12   tt1701990  10000000         0
13   tt2651916         0         0
14  tt27403906         0         0
15   tt4929720         0         0
16   tt0104787         0         0
17   tt0245674  42000000  68467960
18  tt21651560         0         0
19   tt3859272         0         0

In [76]:
merged_df = pd.concat([new_df, df_budget_quan_trong], axis=1)
merged_df

         id  popularity     imdb_id    budget   revenue
0     36915      11.246   tt0116508  25000000   5009305
1     30492       2.287   tt0122946         0         0
2    599975      19.452  tt10039344   6500000  48021766
3     79073       5.692   tt1072754         0         0
4    937249     157.141  tt18083578         0         0
5    579789       1.889   tt7164084         0         0
6    508138      24.175   tt8009314         0     25373
7    541560      12.101   tt8426594         0         0
8    537788      11.163   tt8745960         0         0
9     11592      22.391   tt0111127  13000000   7820688
10   141319       3.357   tt0183808   3500000         0
11    54729       0.943   tt0758757    200000         0
12    68684      19.276   tt1701990  10000000         0
13   229702       3.579   tt2651916         0         0
14  1110586      10.483  tt27403906         0         0
15   360007       6.998   tt4929720         0         0
16   151062       3.206   tt0104787         0         0
17     9378      30.798   tt0245674  42000000  68467960
18  1005776      19.034  tt21651560         0         0
19   413857      17.330   tt3859272         0         0

## Dùng popularity, budget, revenue, rating, numvotes để đưa vào model linear regression